# ══════════════════════════════════════════════════
# Wasel — Environment Variables (Staging)
# ══════════════════════════════════════════════════
# Sur le VPS, copier ce fichier en `.env.staging`
# Remplacer les valeurs par des mots de passe complexes.
# NE JAMAIS COMMITER LE FICHIER `.env.staging` !

# Global
ASPNETCORE_ENVIRONMENT=Staging
# Domain only, without protocol and without /auth
STAGING_DOMAIN=staging.lwasel.tech
# Docker Hub
DOCKERHUB_USERNAME=myelhadri

# PostgreSQL (Changer les mots de passe)
POSTGRES_USER=wasel_staging_user
POSTGRES_PASSWORD=CHANGE_ME_STRONG_DB_PASSWORD
POSTGRES_DB=wasel_db_staging

# Redis
REDIS_CONNECTION_STRING=wasel-redis-staging:6379

# MinIO (Changer les mots de passe)
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=CHANGE_ME_STRONG_MINIO_PASSWORD
MINIO_BUCKET_NAME=wasel-documents

# Keycloak (Changer les mots de passe)
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=CHANGE_ME_STRONG_KC_PASSWORD
KEYCLOAK_REALM=wasel
KEYCLOAK_CLIENT_ID=wasel-api

# Keycloak Custom Image
KEYCLOAK_IMAGE=${DOCKERHUB_USERNAME}/wasel-keycloak:latest
KEYCLOAK_TAG=latest

# RabbitMQ
RABBITMQ_DEFAULT_USER=wasel_staging
RABBITMQ_DEFAULT_PASS=CHANGE_ME_STRONG_RABBITMQ_PASSWORD

# Firebase Push Notifications
FIREBASE_ENABLED=false
FIREBASE_PROJECT_ID=
FIREBASE_CREDENTIALS_PATH=

# Docker Hub - Notification Service
NOTIFICATION_SERVICE_IMAGE=${DOCKERHUB_USERNAME}/wasel-notification-service:latest
